body, html {
  margin: 0px;
  height: 100%;
}

/*
#151515
#1E1E1E
#252526
#333333
#3C3C3C

blue
#007ACC
*/

* {
  box-sizing: border-box;
}

i {
	text-transform: uppercase;
}

.container {
	display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.thumbnail {
  /*debug*/
  transform: scale(1);
  /* transform: scale(1.5); */
  transform: scale(0.2);
  transform: scale(0.3);
  background: black;
  width: 1280px;
	height: 720px;
	
	display: flex;

	font-family: "Source Sans Pro", Helvetica, sans-serif;
  /* font-weight: 600; */
}

/* .left-side, .right-side {
	width: 49.8%;
} */

.left-side {
	background: black;
	color: white;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: column;

	background: #292C36;
	background: #252527;
	background: #151515;
	background: #2F2D2E;
	background: linear-gradient(158deg, rgba(41,44,54,1) 0%, rgba(37,37,39,1) 100%);

	width: 60%;
	font-size: 100px;
	font-weight: bold;
}

.middle {
	width: 0.4%;
	height: 100%;
	background: red;
	background: black;
}

.right-side {
	width: 39.6%;

	background: url(../media/fortnite.jpg);
	background-position: center;
	background-position: 87%;
	background-size: cover;

	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: column;

	border-left: white 10px;
}

.apple-img {
	max-width: 50%;
}


.line1 {
	font-size: 190%;
}

.line2 {
	font-size: 105%;
}

.line3 {
	font-size: 160%;
}

.war {
	color:  #FF0908;
}

.web {
	color: #008fd5;
}

.sword {
	font-size: 70%;
}