body, html {
  margin: 0px;
	height: 100%;
	background: black;
	font-family: Arial, Helvetica, sans-serif;
}


* {
  box-sizing: border-box;
}

.page-container {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;
  height: 100%;

}

.ad-container-background {
	width: 480px;
	height: 70px;
	background: white;
	color: white;

	background: url(media/pc.jpg);
	background-position: center;
	background-position: 100%;
	background-size: cover;
	

	display: flex;
	justify-content: center;
	align-items: center;
}
.ad-container {
	width: 480px;
	height: 70px;

	backdrop-filter: blur(1px);

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.cpu-img-element {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;

}

.extra-text {
	position: absolute;
	top: 34px;
	left: 40px;
	font-size: 25px;
	font-weight: bold;
	transform: rotate(0.1turn);
	color: #ED4337;
}

.cpu-img {
	max-width: 90px;
}

.close-container {
}

.text-element {
	width: 80%;
	font-size: 27px;
	font-weight: bold;
	text-transform: uppercase;
	font-style: italic;
	
}